<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/css/frozen.css">
</head>

<body>
<section class="margin-top">
	<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
	    <li id="leave_type_li" class="ui-border-t">
	        <div class="ui-list-info">
	            <h4 class="ui-nowrap">请假类型</h4>
	        </div>
	        <div id="leave_type_text" class="ui-txt-info"></div>
		</li>
	</ul>
</section>
<section class="margin-top">
	<ul class="ui-list ui-list-text ui-list-link ui-border-tb">
	    <li id="leave_start_li" class="ui-border-t">
	        <div class="ui-list-info">
	            <h4 class="ui-nowrap">开始日期</h4>
	        </div>
	        <div id="leave_start_text" class="ui-txt-info"></div>
		</li>
	    <li id="leave_end_li" class="ui-border-t">
	        <div class="ui-list-info">
	            <h4 class="ui-nowrap">结束日期</h4>
	        </div>
	        <div id="leave_end_text" class="ui-txt-info"></div>
		</li>
	</ul>
</section>
<section class="margin-top ui-form ui-border-t">
	<div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <label>请假天数</label>
            <input id="leave_day" type="text" placeholder="输入请假天数" class="ui-txt-info" style="text-align:right; padding-right:15px;">
        </div>
	</div>
</section>
<section class="margin-top ui-form ui-border-t">
	<div class="ui-form-item ui-form-item-textarea ui-border-b">
        <label>请假理由</label>
        <textarea id="leave_content" placeholder="输入请假理由" class="ui-txt-info" style="padding-right:11px;"></textarea>
    </div>
</section>

<div class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
    <button id="save" class="ui-btn-lg ui-btn-primary">
        保存
    </button>
    <button id="saveAndAudit" class="ui-btn-lg ui-btn-primary">
        保存并提交审核
    </button>
</div>

<div style="display:none;">
	<select id="select_type">
	</select>
	<input id="select_start" />
	<input id="select_end" />
</div>

<br/>
<br/>
<br/>

</body>

</html>
<link rel="stylesheet" href="/css/mobiscroll.custom-2.17.1.min.css">
<script src="/js/zepto.min.js"></script>
<script src="/js/zepto.cookie.min.js"></script>
<script src="/js/frozen.js"></script>
<script src="/js/mobiscroll.custom-2.17.1.min.js"></script>
<script>
(function () {
	var leaveId = getUrlParam("id");
	var userId = $.fn.cookie(CookieUserId);
	var leaveType = "";
	var leaveTypeArray = [{
		value: "SJ",
		text: "事假"
	},{
		value: "BJ",
		text: "病假"
	},{
		value: "NJ",
		text: "年假"
	},{
		value: "TJ",
		text: "调休"
	},{
		value: "HJ",
		text: "婚假"
	},{
		value: "CJ",
		text: "产假"
	}]

	init = function() {
		for(var i = 0; i < leaveTypeArray.length; i++) {
			$("#select_type").append("<option value='" + leaveTypeArray[i].value + "'>" + leaveTypeArray[i].text + "</option>");
		}

		$("#select_type").mobiscroll().select({
	        theme: "ios",
	        lang: "zh",
	        display: "bottom"
	    });

	    $("#select_type").change(function() {
	    	for(var i = 0; i < leaveTypeArray.length; i++) {
				if(leaveTypeArray[i].value == $(this).val()) {
					leaveType = leaveTypeArray[i].value;

					$("#leave_type_text").html(leaveTypeArray[i].text);

					return;
				}
	    	}
	    });

	    $('#select_start').mobiscroll().date({
	        theme: "ios",
	        lang: "zh",
	        display: "bottom",
	        dateFormat: "yyyy-mm-dd"
	    });

	    $("#select_start").change(function() {
	    	$("#leave_start_text").html($(this).val());
	    });

		$('#select_end').mobiscroll().date({
	        theme: "ios",
	        lang: "zh",
	        display: "bottom",
	        dateFormat: "yyyy-mm-dd"
	    });

	    $("#select_end").change(function() {
	    	$("#leave_end_text").html($(this).val());
	    });

	    $("#leave_type_li").on("click",function(e) {
			$("#select_type").mobiscroll("show");
	    });

	    $("#leave_start_li").on("click",function(e) {
			$("#select_start").mobiscroll("show");
	    });

	    $("#leave_end_li").on("click",function(e) {
			$("#select_end").mobiscroll("show");
	    });

	    $("#save").on("click",function(e) {
			saveOrUpdate();
	    });

	    $("#saveAndAudit").on("click",function(e) {
			saveOrUpdate();
	    });
    }

    load = function() {
		$.ajax({
		  	type: "POST",
			url: "/leave/find",
		    contentType: "application/json;charset=utf-8",
		  	data: JSON.stringify({
		  		id: leaveId
		  	}),
		  	dataType: "json",
		  	success: function(data, status, xhr) {
				if(data.result) {

				}
		  	},
		  	error: function(xhr, errorType, error) {

		  	},
		  	complete: function(xhr, status) {

		  	}
		});
    }

    saveOrUpdate = function() {
    	var leaveStart = $("#leave_start_text").html();
    	var leaveEnd = $("#leave_end_text").html();
    	var leaveDay = $("#leave_day").val();
    	var leaveContent = $("#leave_content").val();

		if(isNullOrEmpty(leaveType)) {
			toast("请选择请假类型");
		} else if(isNullOrEmpty(leaveStart)) {
			toast("请选择开始日期");
		} else if(isNullOrEmpty(leaveDay)) {
			toast("请输入请假天数");
		} else if(! isNumber(leaveDay)) {
			toast("请假天数不正确");
		}
    }

	initjsBridge = function() {
		jsBridge.send(ActionSetTitle, {
			text: "我的请假"
		}, function(response) {

		});
	}

	if(isNullOrEmpty(leaveId)) {
		init();
	} else {
		action = "update";

		load();
	}
})();
</script>
